/* Variables */
:root {
    --clr-black: #111111;
    --clr-snow: #FFFAFA;
    --clr-rose: linear-gradient(to right, #ffafbd 0%,#ffc3a0 100%);
    --clr-gray-light: #DCDCDC;
    --clr-silver: #A9A9A9;
}

/* Globals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    background: var(--clr-rose);
    font-size: 16px;
    color: var(--clr-black);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

/* Slider */
.slider {
    display: flex;
    align-items: center;
    width: 60%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.slider__container {
    position: relative;
    height: 400px;
    background: #fff;
    border-radius: 25px 0 25px 0;
}

.slider__track {
    display: flex;
    height: 100%;
}

.slider__slide {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.slider__image {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    border-radius: 50%;
}

.slider__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.slider__ref {
    max-width: 700px;
    text-align: center;
    font-style: italic;
    line-height: 1.8;
}

.slider__author {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1rem;
    margin: 10px 0;
}

.slider__separator {
    width: 100%;
    max-width: 60px;
    height: 3px;
    background: var(--clr-gray-light);
    border-radius: 3px;
    margin: 15px 0;
}

.slider__desc {
    font-size: 0.9rem;
    color: var(--clr-silver);
    margin-bottom: 15px;
}

.slider__rating {
    display: flex;
}

.fa-star {
    font-size: 1.2rem;
    color: #FF851B ;
}

.slider__controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.slider__button-prev,
.slider__button-next {
    background: transparent;
    border: 0;
    font-size: 3rem;
    padding: 10px;
    cursor: pointer;
    color: var(--clr-gray-light);
    transition: color 250ms ease-in;
}

.slider__button-prev:hover,
.slider__button-next:hover {
    color: var(--clr-black);
}

.slider__button-prev:active,
.slider__button-next:active {
    font-size: 2.5rem;
}

.slider__indicators {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__indicator {
    background: var(--clr-snow);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 10px;
    border: 0;
    transition: background 250ms ease-in-out;
    opacity: 0.5;
    border: 6px solid var(--clr-snow);
    cursor: pointer;
}

.slider__indicator:hover {
    background: var(--clr-black);
    opacity: 0.2;
}

.slider__indicator.active {
    background: var(--clr-black);
    opacity: 0.7;
    
}

/* Slider media queries */
@media (max-width: 1128px) {
    .slider__container {
        width: 100%;
    }

    .slider__ref {
        max-width: 480px;
    }

    .slider__slide {
        padding: 0 15px;
    }
}

@media (max-width: 780px) {
    .slider {
        height: 650px;
    }

    .slider__container {
        height: 480px;
    }

    .slider__ref {
        max-width: 300px;
    }

    .slider__controls {
        justify-content: center;
        top: 100%;
        transform: translateY(-95%);
    }

    .slider__button-prev,
    .slider__button-next {
        font-size: 2rem; 
    }

    .slider__button-prev:active,
    .slider__button-next:active {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .slider {
        width: 80%;
        height: 650px;
    }

    .slider__container {
        height: 460px;
    }
    .slider__image {
        width: 125px;
        height: 125px;
    }

    .slider__ref {
        max-width: 250px;
        font-size: 0.875rem;
    }
}